.mainpoint{
  background-size: cover;
  background-image: linear-gradient(rgb(185, 248, 250), rgb(155, 234, 240));
  width: 100%;
  height: 90vh;
}

.contactZone{
  padding-top: 20vh;
}

.title{
  /* text-shadow: 2px 0 0 rgb(255, 255, 255), -2px 0 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255), 0 -2px 0 rgb(255, 255, 255), 1px 1px rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255); */
  color: black;
  font-family: 'Chonburi', cursive;
  font-family: 'Pridi', serif;
  user-select: none;
}

.detail{
  color: black;
  font-family: 'Chonburi', cursive;
  font-family: 'Pridi', serif;
}

